:root {
	--color-primary: #212121;
	--color-secondary: #757575;
	--color-background: #ffffff;
	--color-link: #2196f3;
	--color-background-icon: #afb1b8;
	--social-icon-background: rgba(255, 255, 255, 0.1);
	--section-background: #2f303a;
	--input-border: rgba(33, 33, 33, 0.2);
	--footer-input-border: rgba(255, 255, 255, 0.3);
}