/* advantages */
.advantages {
	padding-top: 60px;
	padding-bottom: 0px;

	@media screen and(min-width:1200px) {
		padding-top: 94px;
	}
}

.advantages__container {
	max-width: 450px;
	margin-bottom: 60px;


	@media screen and(min-width:768px) {
		max-width: 738px;
	}

	@media screen and(min-width:1200px) {
		max-width: 1170px;
		margin-bottom: 0px;
	}
}

.advantages__list {
	display: block;
	padding-left: auto;
	padding-right: auto;

	@media screen and(min-width:768px) {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		justify-content: space-between;
	}
}

.advantages__item+.advantages__item {
	@media screen and(max-width: 767px) {
		margin-top: 30px;
	}
}

.advantages__item {
	max-width: 100%;

	@media screen and(min-width:768px) {
		max-width: 354px;
	}

	@media screen and(min-width:1200px) {
		max-width: 270px;
	}
}

.advantages__img {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 450px;
	height: 120px;
	fill: var(--color-primary);
	background: #f5f4fa;
	border-radius: 4px;
	margin-bottom: 30px;

	@media screen and(min-width:768px) {
		max-width: 354px;
	}

	@media screen and(min-width:1200px) {
		max-width: 270px;

	}
}

.advantages__title {
	color: var(--color-primary);
	background-color: var(--color-background);
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	margin-bottom: 10px;
	text-align: center;

	@media screen and(min-width:768px) {
		text-align: left;
	}
}

.advantages__description {
	color: #757575;
	background-color: var(--color-background);
	font-size: 14px;
	line-height: 1.7;
}