.primary-button {
	color: #ffffff;
	background-color: var(--color-link);
	font-size: 16px;
	border: 0;
	line-height: 1.9;
	font-weight: 700;
	letter-spacing: 0.06em;
	cursor: pointer;
	padding: 10px 32px;
	border-radius: 4px;
	transition: color 250ms, fill 250ms, background-color 250ms, box-shadow 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-button {

	&:hover,
	&:focus {
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
	}
}

.button-portfolio {
	color: var(--color-primary);
	background-color: #f5f4fa;
	font-weight: 500;
	font-size: 16px;
	border: 0;
	line-height: 1.6;
	letter-spacing: 0.03em;
	font-family: inherit;
	cursor: pointer;
	border-radius: 4px;
	padding: 6px 22px;
	transition: color 250ms, background-color 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio {

	&:hover,
	&:focus {
		color: #ffffff;
		background-color: var(--color-link);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
			0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}