/* Work */

.work {
	padding-top: 94px;
	padding-bottom: 94px;
}

.work__title {
	color: var(--color-primary);
	background-color: var(--color-background);
	font-size: 36px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	font-weight: 700;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	text-align: center;

}





.work__list {
	/* position: relative; */
	display: flex;
	gap: 30px;
	margin: 0;
}

.work__card {
	position: relative;
}

.card__background {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 70px;
	padding-top: 27px;
	color: var(--color-background);
	background-color: rgba(47, 48, 58, 0.8);

	letter-spacing: 0.03em;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.17;
	text-align: center;
	text-transform: uppercase;
}